.tour {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    background-color: #0966e091;
   
}

.card

hr {
    width: 100%;
    height: 5px;
    color: black;
    border: solid;
}